@using Clever.Controllers
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<SharedResources> SharedLocalizer
@{
    ViewData["Title"] = SharedLocalizer["ImportFromFiles"];
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@SharedLocalizer["UploadFiles"]</h2>

<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/jquery-form/jquery.form.js"></script>

<div class="row">
    <div class="col-md-4">
        @using (Html.BeginForm("UploadFiles", "CompaniesKK", FormMethod.Post, new { enctype = "multipart/form-data", id = "uploadform" }))
        {
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="col-md-2 control-label">Files</label>
                <input type="file" name="Files" multiple />
            </div>
            <div hidden="hidden">
                @Html.Editor("Search", null, new { value = ViewBag.Search })
                @Html.Editor("SortOrder", null, new { value = ViewBag.SortOrder })
                @Html.Editor("BIN", null, new { htmlAttributes = new { @class = "form-control" }, value = "" })
                @Html.Editor("NameKK", null, new { htmlAttributes = new { @class = "form-control" }, value = "" })
                @Html.Editor("NameRU", null, new { htmlAttributes = new { @class = "form-control" }, value = "" })
                @Html.Editor("DateRegister", null, new { htmlAttributes = new { @class = "form-control" }, value = "" })
                @Html.Editor("OKED", null, new { htmlAttributes = new { @class = "form-control" }, value = "" })
                @Html.Editor("ActivityKindKK", null, new { htmlAttributes = new { @class = "form-control" }, value = "" })
                @Html.Editor("ActivityKindRU", null, new { htmlAttributes = new { @class = "form-control" }, value = "" })
                @Html.Editor("OKEDSecondary", null, new { htmlAttributes = new { @class = "form-control" }, value = "" })
                @Html.Editor("KRP", null, new { htmlAttributes = new { @class = "form-control" }, value = "" })
                @Html.Editor("KRPNameKK", null, new { htmlAttributes = new { @class = "form-control" }, value = "" })
                @Html.Editor("KRPNameRU", null, new { htmlAttributes = new { @class = "form-control" }, value = "" })
                @Html.Editor("CATO", null, new { htmlAttributes = new { @class = "form-control" }, value = "" })
                @Html.Editor("LocalityKK", null, new { htmlAttributes = new { @class = "form-control" }, value = "" })
                @Html.Editor("LocalityRU", null, new { htmlAttributes = new { @class = "form-control" }, value = "" })
                @Html.Editor("LegalAddress", null, new { htmlAttributes = new { @class = "form-control" }, value = "" })
                @Html.Editor("HeadName", null, new { htmlAttributes = new { @class = "form-control" }, value = "" })
                @Html.Editor("PageSize", null, new { htmlAttributes = new { @class = "form-control" }, value = "" })
                @Html.Editor("Page", null, new { htmlAttributes = new { @class = "form-control" }, value = "" })
            </div>
            <div class="form-group">
                <input type="submit" value="@SharedLocalizer["Upload"]" class="btn btn-default" />
            </div>
        }
    </div>
</div>

<div class="progress" style="width:50%">
    <div class="progress-bar"></div>
    <div class="percent">0%</div>
</div>

<div id="status"></div>

@if (!string.IsNullOrEmpty(ViewBag.Report))
{
    <div>
        @ViewBag.Report
    </div>
}

    <div>
        @Html.ActionLink(SharedLocalizer["BackToList"], "Index", new { Search = ViewBag.Search, Page = ViewBag.Page, PageSize = ViewBag.PageSize, SortOrder = ViewBag.SortOrder, BINFilter = ViewBag.BINFilter, NameKKFilter = ViewBag.NameKKFilter, NameRUFilter = ViewBag.NameRUFilter, DateRegisterFilter = ViewBag.DateRegisterFilter, OKEDFilter = ViewBag.OKEDFilter, ActivityKindKKFilter = ViewBag.ActivityKindKKFilter, ActivityKindRUFilter = ViewBag.ActivityKindRUFilter, OKEDSecondaryFilter = ViewBag.OKEDSecondaryFilter, KRPFilter = ViewBag.KRPFilter, KRPNameKKFilter = ViewBag.KRPNameKKFilter, KRPNameRUFilter = ViewBag.KRPNameRUFilter, CATOFilter = ViewBag.CATOFilter, LocalityKKFilter = ViewBag.LocalityKKFilter, LocalityRUFilter = ViewBag.LocalityRUFilter, LegalAddressFilter = ViewBag.LegalAddressFilter, HeadNameFilter = ViewBag.HeadNameFilter })
    </div>

<script>
    $.noConflict();
    jQuery(document).ready(function ($) {
        var bar = $('.progress-bar');
        var percent = $('.percent');
        var status = $('#status');
        $('#uploadform').ajaxForm({
            beforeSend: function () {
                status.empty();
                var percentVal = '0%';
                bar.width(percentVal);
                percent.html(percentVal);
            },
            uploadProgress: function (event, position, total, percentComplete) {
                var percentVal = percentComplete + '%';
                bar.width(percentVal);
                percent.html(percentVal);
            },
            complete: function (xhr) {
                status.html(xhr.responseText);
            }
        });
    });
</script>