@using Clever.Controllers
@using Microsoft.Extensions.Localization
@using System.Globalization;
@inject IStringLocalizer<SharedResources> SharedLocalizer
@{
    ViewData["Title"] = SharedLocalizer["FormulaPDVhol"];
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/jquery-inputmask/inputmask/inputmask.js"></script>
<h2>@SharedLocalizer["FormulaPDVhol"]</h2>

<div class="row">
    <div class="col-md-4">
        <form asp-action="FormulaPDVhol">
            <div class="form-group">
                <label class="control-label">@SharedLocalizer["FormulaPDK"]</label>
                <input id="PDK" class="form-control" name="PDK" value="@ViewBag.PDK" />
            </div>
            <div class="form-group">
                <label class="control-label">@SharedLocalizer["FormulaH"]</label>
                <input id="H" class="form-control" name="H" value="@ViewBag.H" />
            </div>
            <div class="form-group">
                <label class="control-label">@SharedLocalizer["FormulaV1gvsov"]</label>
                <input id="V1gvsov" class="form-control" name="V1gvsov" value="@ViewBag.V1gvsov" />
            </div>
            <div class="form-group">
                <label class="control-label">@SharedLocalizer["FormulaAstrat"]</label>
                <input id="Astrat" class="form-control" name="Astrat" value="@ViewBag.Astrat" />
            </div>
            <div class="form-group">
                <label class="control-label">@SharedLocalizer["FormulaFgvs"]</label>
                <input id="Fgvs" class="form-control" name="Fgvs" value="@ViewBag.Fgvs" />
            </div>
            <div class="form-group">
                <label class="control-label">@SharedLocalizer["FormulaDu"]</label>
                <input id="Du" class="form-control" name="Du" value="@ViewBag.Du" />
            </div>
            <div class="form-group">
                <label class="control-label">@SharedLocalizer["FormulaNgvsHol"]</label>
                <input id="NgvsHol" class="form-control" name="NgvsHol" value="@ViewBag.NgvsHol" />
            </div>
            <div class="form-group">
                <label class="control-label">@SharedLocalizer["FormulaEta"]</label>
                <input id="Eta" class="form-control" name="Eta" value="@ViewBag.Eta" />
            </div>
            @if (ViewBag.PDVhol != null)
            {
                <div class="form-group">
                    <label class="control-label">@SharedLocalizer["FormulaPDVhol"]</label>
                    <input class="form-control" readonly="readonly" value="@ViewBag.PDVhol" />
                </div>
            }
            <div class="form-group">
                <input type="submit" value="@SharedLocalizer["Calculate"]" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<script>
    $(document).ready(function () {
        Inputmask({
            "mask": "9[9][9][9][9][9][9][9][9]@CultureInfo.CurrentCulture.NumberFormat.NumberDecimalSeparator" + "99999",
            clearMaskOnLostFocus: false,
            "placeholder": "0"
        }).mask(document.getElementById("PDK"));
    });
    $(document).ready(function () {
        Inputmask({
            "mask": "9[9][9][9][9][9][9][9][9]@CultureInfo.CurrentCulture.NumberFormat.NumberDecimalSeparator" + "99999",
            clearMaskOnLostFocus: false,
            "placeholder": "0"
        }).mask(document.getElementById("H"));
    });
    $(document).ready(function () {
        Inputmask({
            "mask": "9[9][9][9][9][9][9][9][9]@CultureInfo.CurrentCulture.NumberFormat.NumberDecimalSeparator" + "99999",
            clearMaskOnLostFocus: false,
            "placeholder": "0"
        }).mask(document.getElementById("V1gvsov"));
    });
    $(document).ready(function () {
        Inputmask({
            "mask": "9[9][9][9][9][9][9][9][9]@CultureInfo.CurrentCulture.NumberFormat.NumberDecimalSeparator" + "99999",
            clearMaskOnLostFocus: false,
            "placeholder": "0"
        }).mask(document.getElementById("Astrat"));
    });
    $(document).ready(function () {
        Inputmask({
            "mask": "9[9][9][9][9][9][9][9][9]@CultureInfo.CurrentCulture.NumberFormat.NumberDecimalSeparator" + "99999",
            clearMaskOnLostFocus: false,
            "placeholder": "0"
        }).mask(document.getElementById("Fgvs"));
    });
    $(document).ready(function () {
        Inputmask({
            "mask": "9[9][9][9][9][9][9][9][9]@CultureInfo.CurrentCulture.NumberFormat.NumberDecimalSeparator" + "99999",
            clearMaskOnLostFocus: false,
            "placeholder": "0"
        }).mask(document.getElementById("Du"));
    });
    $(document).ready(function () {
        Inputmask({
            "mask": "9[9][9][9][9][9][9][9][9]@CultureInfo.CurrentCulture.NumberFormat.NumberDecimalSeparator" + "99999",
            clearMaskOnLostFocus: false,
            "placeholder": "0"
        }).mask(document.getElementById("NgvsHol"));
    });
    $(document).ready(function () {
        Inputmask({
            "mask": "9[9][9][9][9][9][9][9][9]@CultureInfo.CurrentCulture.NumberFormat.NumberDecimalSeparator" + "99999",
            clearMaskOnLostFocus: false,
            "placeholder": "0"
        }).mask(document.getElementById("Eta"));
    });
</script>
