@using Clever.Controllers
@using Microsoft.Extensions.Localization
@using System.Globalization;
@inject IStringLocalizer<SharedResources> SharedLocalizer
@{
    ViewData["Title"] = SharedLocalizer["FormulaVh2o"];
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/jquery-inputmask/inputmask/inputmask.js"></script>
<h2>@SharedLocalizer["FormulaVh2o"]</h2>

<div class="row">
    <div class="col-md-4">
        <form asp-action="FormulaVh2o">
            <div class="form-group">
                <label class="control-label">@SharedLocalizer["FormulaHrW"]</label>
                <input id="HrW" class="form-control" name="HrW" value="@ViewBag.HrW" />
            </div>
            <div class="form-group">
                <label class="control-label">@SharedLocalizer["FormulaWr"]</label>
                <input id="Wr" class="form-control" name="Wr" value="@ViewBag.Wr" />
            </div>
            <div class="form-group">
                <label class="control-label">@SharedLocalizer["FormulaV"]</label>
                <input id="V" class="form-control" name="V" value="@ViewBag.V" />
            </div>
            @if (ViewBag.Vh2o != null)
            {
                <div class="form-group">
                    <label class="control-label">@SharedLocalizer["FormulaVh2o"]</label>
                    <input class="form-control" readonly="readonly" value="@ViewBag.Vh2o" />
                </div>
            }
            <div class="form-group">
                <input type="submit" value="@SharedLocalizer["Calculate"]" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<script>
    $(document).ready(function () {
        Inputmask({
            "mask": "9[9][9][9][9][9][9][9][9]@CultureInfo.CurrentCulture.NumberFormat.NumberDecimalSeparator" + "99",
            clearMaskOnLostFocus: false,
            "placeholder": "0"
        }).mask(document.getElementById("HrW"));
        Inputmask({
            "mask": "9[9][9][9][9][9][9][9][9]@CultureInfo.CurrentCulture.NumberFormat.NumberDecimalSeparator" + "99",
            clearMaskOnLostFocus: false,
            "placeholder": "0"
        }).mask(document.getElementById("Wr"));
        Inputmask({
            "mask": "9[9][9][9][9][9][9][9][9]@CultureInfo.CurrentCulture.NumberFormat.NumberDecimalSeparator" + "99",
            clearMaskOnLostFocus: false,
            "placeholder": "0"
        }).mask(document.getElementById("V"));
    });
</script>