@using Clever.Controllers
@using Microsoft.Extensions.Localization
@using System.Globalization;
@inject IStringLocalizer<SharedResources> SharedLocalizer
@{
    ViewData["Title"] = SharedLocalizer["FormulaAFact"];
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/jquery-inputmask/inputmask/inputmask.js"></script>
<h2>@SharedLocalizer["FormulaAFact"]</h2>

<div class="row">
    <div class="col-md-4">
        <form asp-action="FormulaAFact">
            <div class="form-group">
                <label class="control-label">@SharedLocalizer["FormulaO2"]</label>
                <input id="O2" class="form-control" name="O2" value="@ViewBag.O2" />
            </div>
            @if (ViewBag.AFact != null)
            {
                <div class="form-group">
                    <label class="control-label">@SharedLocalizer["FormulaAFact"]</label>
                    <input class="form-control" readonly="readonly" value="@ViewBag.AFact" />
                </div>
            }
            <div class="form-group">
                <input type="submit" value="@SharedLocalizer["Calculate"]" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<script>
    $(document).ready(function () {
        Inputmask({
            "mask": "9[9][9][9][9][9][9][9][9]@CultureInfo.CurrentCulture.NumberFormat.NumberDecimalSeparator" + "99",
            clearMaskOnLostFocus: false,
            "placeholder": "0"
        }).mask(document.getElementById("O2"));
    });
</script>