@using Clever.Controllers
@using Microsoft.Extensions.Localization
@using System.Globalization;
@inject IStringLocalizer<SharedResources> SharedLocalizer
@{
    ViewData["Title"] = SharedLocalizer["FormulaHeatPowerThermalPowerPlantsCoalNorm"];
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/jquery-inputmask/inputmask/inputmask.js"></script>
<h2>@SharedLocalizer["FormulaHeatPowerThermalPowerPlantsCoalNorm"]</h2>

<div class="row">
    <div class="col-md-4">
        <form asp-action="FormulaHeatPowerThermalPowerPlantsCoalNorm">
            <div class="form-group">
                <label class="control-label">@SharedLocalizer["FormulaAc"]</label>
                <input id="Ac" class="form-control" name="Ac" value="@ViewBag.Ac" />
            </div>
            <div class="form-group">
                <label class="control-label">@SharedLocalizer["FormulaSc"]</label>
                <input id="Sc" class="form-control" name="Sc" value="@ViewBag.Sc" />
            </div>
            <div class="form-group">
                <label class="control-label">@SharedLocalizer["FormulaHc"]</label>
                <input id="Hc" class="form-control" name="Hc" value="@ViewBag.Hc" />
            </div>
            <div class="form-group">
                <label class="control-label">@SharedLocalizer["FormulaWr"]</label>
                <input id="Wr" class="form-control" name="Wr" value="@ViewBag.Wr" />
            </div>
            <div class="form-group">
                <label class="control-label">@SharedLocalizer["FormulaOc"]</label>
                <input id="Oc" class="form-control" name="Oc" value="@ViewBag.Oc" />
            </div>
            <div class="form-group">
                <label class="control-label">@SharedLocalizer["FormulaNc"]</label>
                <input id="Nc" class="form-control" name="Nc" value="@ViewBag.Nc" />
            </div>
            <div class="form-group">
                <label class="control-label">@SharedLocalizer["FormulaQ"]</label>
                <input id="Q" class="form-control" name="Q" value="@ViewBag.Q" />
            </div>
            <div class="form-group">
                <label class="control-label">@SharedLocalizer["FormulaKPDKA"]</label>
                <input id="KPDKA" class="form-control" name="KPDKA" value="@ViewBag.KPDKA" />
            </div>
            <div class="form-group">
                <label class="control-label">@SharedLocalizer["FormulaAv"]</label>
                <input id="Av" class="form-control" name="Av" value="@ViewBag.Av" />
            </div>
            <div class="form-group">
                <label class="control-label">@SharedLocalizer["FormulaNoc"]</label>
                <select name="Noc" class="form-control" id="Noc">
                    @if (ViewBag.Noc == 1)
                    {
                        <option value="1" selected="selected">@SharedLocalizer["withSuperheater"]</option>
                    }
                    else
                    {
                        <option value="1">@SharedLocalizer["withSuperheater"]</option>
                    }
                    @if (ViewBag.Noc == 2)
                    {
                        <option value="2" selected="selected">@SharedLocalizer["withoutSuperheater"]</option>
                    }
                    else
                    {
                        <option value="2">@SharedLocalizer["withoutSuperheater"]</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label class="control-label">@SharedLocalizer["FormulaQri"]</label>
                <input id="Qri" class="form-control" name="Qri" value="@ViewBag.Qri" />
            </div>
            <div class="form-group">
                <label class="control-label">@SharedLocalizer["FormulaQ4"]</label>
                <input id="Q4" class="form-control" name="Q4" value="@ViewBag.Q4" />
            </div>
            <div class="form-group">
                <label class="control-label">@SharedLocalizer["FormulaCNOx"]</label>
                <input id="CNOx" class="form-control" name="CNOx" value="@ViewBag.CNOx" />
            </div>
            <div class="form-group">
                <label class="control-label">@SharedLocalizer["FormulaCCO"]</label>
                <input id="CCO" class="form-control" name="CCO" value="@ViewBag.CCO" />
            </div>
            <div class="form-group">
                <label class="control-label">@SharedLocalizer["FormulaCSO2"]</label>
                <input id="CSO2" class="form-control" name="CSO2" value="@ViewBag.CSO2" />
            </div>
            <div class="form-group">
                <label class="control-label">@SharedLocalizer["FormulaCTB"]</label>
                <input id="CTB" class="form-control" name="CTB" value="@ViewBag.CTB" />
            </div>
            <div class="form-group">
                <label class="control-label">@SharedLocalizer["FormulaN"]</label>
                <input id="N" class="form-control" name="N" value="@ViewBag.N" />
            </div>
            <div class="form-group">
                <label class="control-label">@SharedLocalizer["FormulaDf"]</label>
                <input id="Df" class="form-control" name="Df" value="@ViewBag.Df" />
            </div>
            <div class="form-group">
                <label class="control-label">@SharedLocalizer["FormulaDn"]</label>
                <input id="Dn" class="form-control" name="Dn" value="@ViewBag.Dn" />
            </div>
            <div class="form-group">
                <label class="control-label">@SharedLocalizer["FormulaNzy"]</label>
                <input id="Nzy" class="form-control" name="Nzy" value="@ViewBag.Nzy" />
            </div>
            <div class="form-group">
                <label class="control-label">@SharedLocalizer["FormulaZ"]</label>
                <input id="Z" class="form-control" name="Z" value="@ViewBag.Z" />
            </div>
            <div class="form-group">
                <label class="control-label">@SharedLocalizer["FormulaA"]</label>
                <input id="A" class="form-control" name="A" value="@ViewBag.A" />
            </div>
            <div class="form-group">
                <label class="control-label">@SharedLocalizer["FormulaAt"]</label>
                <input id="At" class="form-control" name="At" value="@ViewBag.At" />
            </div>
            <div class="form-group">
                <label class="control-label">@SharedLocalizer["FormulaKn"]</label>
                <select name="Kn" class="form-control" id="Kn">
                    @if (ViewBag.Kn == 1)
                    {
                        <option value="1" selected="selected">@SharedLocalizer["emissionsInGS"]</option>
                    }
                    else
                    {
                        <option value="1">@SharedLocalizer["emissionsInGS"]</option>
                    }
                    @if (ViewBag.Kn == 2)
                    {
                        <option value="2" selected="selected">@SharedLocalizer["emissionsInT"]</option>
                    }
                    else
                    {
                        <option value="2">@SharedLocalizer["emissionsInT"]</option>
                    }
                </select>
            </div>
            @if (ViewBag.ArW != null)
            {
                <h3>@SharedLocalizer["FormulaTitleRecalculationDryToWorking"]</h3>
                <div class="form-group">
                    <label class="control-label">@SharedLocalizer["FormulaArW"]</label>
                    <input class="form-control" readonly="readonly" value="@ViewBag.ArW" />
                </div>
            }
            @if (ViewBag.SrW != null)
            {
                <div class="form-group">
                    <label class="control-label">@SharedLocalizer["FormulaSrW"]</label>
                    <input class="form-control" readonly="readonly" value="@ViewBag.SrW" />
                </div>
            }
            @if (ViewBag.HrW != null)
            {
                <div class="form-group">
                    <label class="control-label">@SharedLocalizer["FormulaHrW"]</label>
                    <input class="form-control" readonly="readonly" value="@ViewBag.HrW" />
                </div>
            }
            @if (ViewBag.OrW != null)
            {
                <div class="form-group">
                    <label class="control-label">@SharedLocalizer["FormulaOrW"]</label>
                    <input class="form-control" readonly="readonly" value="@ViewBag.OrW" />
                </div>
            }
            @if (ViewBag.NrW != null)
            {
                <div class="form-group">
                    <label class="control-label">@SharedLocalizer["FormulaNrW"]</label>
                    <input class="form-control" readonly="readonly" value="@ViewBag.NrW" />
                </div>
            }
            @if (ViewBag.Cr != null)
            {
                <div class="form-group">
                    <label class="control-label">@SharedLocalizer["FormulaCr"]</label>
                    <input class="form-control" readonly="readonly" value="@ViewBag.Cr" />
                </div>
            }
            @if (ViewBag.Vro2 != null)
            {
                <h3>@SharedLocalizer["FormulaTitleVolumeOfDryFlueGases"]</h3>
                <div class="form-group">
                    <label class="control-label">@SharedLocalizer["FormulaVro2"]</label>
                    <input class="form-control" readonly="readonly" value="@ViewBag.Vro2" />
                </div>
            }
            @if (ViewBag.V != null)
            {
                <div class="form-group">
                    <label class="control-label">@SharedLocalizer["FormulaV"]</label>
                    <input class="form-control" readonly="readonly" value="@ViewBag.V" />
                </div>
            }
            @if (ViewBag.Vn2 != null)
            {
                <div class="form-group">
                    <label class="control-label">@SharedLocalizer["FormulaVn2"]</label>
                    <input class="form-control" readonly="readonly" value="@ViewBag.Vn2" />
                </div>
            }
            @if (ViewBag.Vh2o != null)
            {
                <div class="form-group">
                    <label class="control-label">@SharedLocalizer["FormulaVh2o"]</label>
                    <input class="form-control" readonly="readonly" value="@ViewBag.Vh2o" />
                </div>
            }
            @if (ViewBag.Vr != null)
            {
                <div class="form-group">
                    <label class="control-label">@SharedLocalizer["FormulaVr"]</label>
                    <input class="form-control" readonly="readonly" value="@ViewBag.Vr" />
                </div>
            }
            @if (ViewBag.Vcr != null)
            {
                <div class="form-group">
                    <label class="control-label">@SharedLocalizer["FormulaVcr"]</label>
                    <input class="form-control" readonly="readonly" value="@ViewBag.Vcr" />
                </div>
            }
            @if (ViewBag.B != null)
            {
                <h3>@SharedLocalizer["FormulaTitleEstimatedFuelConsumption"]</h3>
                <div class="form-group">
                    <label class="control-label">@SharedLocalizer["FormulaB"]</label>
                    <input class="form-control" readonly="readonly" value="@ViewBag.B" />
                </div>
            }
            @if (ViewBag.Bp != null)
            {
                <div class="form-group">
                    <label class="control-label">@SharedLocalizer["FormulaBp"]</label>
                    <input class="form-control" readonly="readonly" value="@ViewBag.Bp" />
                </div>
            }
            @if (ViewBag.CjNOx != null)
            {
                <h3>@SharedLocalizer["FormulaTitleCalcMassConcentrationsPollutants"]</h3>
                <div class="form-group">
                    <label class="control-label">@SharedLocalizer["FormulaCjNOx"]</label>
                    <input class="form-control" readonly="readonly" value="@ViewBag.CjNOx" />
                </div>
            }
            @if (ViewBag.CjCO != null)
            {
                <div class="form-group">
                    <label class="control-label">@SharedLocalizer["FormulaCjCO"]</label>
                    <input class="form-control" readonly="readonly" value="@ViewBag.CjCO" />
                </div>
            }
            @if (ViewBag.CjSO2 != null)
            {
                <div class="form-group">
                    <label class="control-label">@SharedLocalizer["FormulaCjSO2"]</label>
                    <input class="form-control" readonly="readonly" value="@ViewBag.CjSO2" />
                </div>
            }
            @if (ViewBag.CjTB != null)
            {
                <div class="form-group">
                    <label class="control-label">@SharedLocalizer["FormulaCjTB"]</label>
                    <input class="form-control" readonly="readonly" value="@ViewBag.CjTB" />
                </div>
            }
            @if (ViewBag.Gv != null)
            {
                <div class="form-group">
                    <label class="control-label">@SharedLocalizer["FormulaGv"]</label>
                    <input class="form-control" readonly="readonly" value="@ViewBag.Gv" />
                </div>
            }
            @if (ViewBag.Kd != null)
            {
                <div class="form-group">
                    <label class="control-label">@SharedLocalizer["FormulaKd"]</label>
                    <input class="form-control" readonly="readonly" value="@ViewBag.Kd" />
                </div>
            }
            @if (ViewBag.Kzy != null)
            {
                <div class="form-group">
                    <label class="control-label">@SharedLocalizer["FormulaKzy"]</label>
                    <input class="form-control" readonly="readonly" value="@ViewBag.Kzy" />
                </div>
            }
            @if (ViewBag.CjT != null)
            {
                <div class="form-group">
                    <label class="control-label">@SharedLocalizer["FormulaCjT"]</label>
                    <input class="form-control" readonly="readonly" value="@ViewBag.CjT" />
                </div>
            }
            @if (ViewBag.AAbove != null)
            {
                <div class="form-group">
                    <label class="control-label">@SharedLocalizer["FormulaAAbove"]</label>
                    <input class="form-control" readonly="readonly" value="@ViewBag.AAbove" />
                </div>
            }
            @if (ViewBag.SAbove != null)
            {
                <div class="form-group">
                    <label class="control-label">@SharedLocalizer["FormulaSAbove"]</label>
                    <input class="form-control" readonly="readonly" value="@ViewBag.SAbove" />
                </div>
            }
            @if (ViewBag.MNOx != null)
            {
                <h3>@SharedLocalizer["FormulaTitleEmissionsPollutants"]</h3>
                <div class="form-group">
                    <label class="control-label">@SharedLocalizer["FormulaMNOx"]</label>
                    <input class="form-control" readonly="readonly" value="@ViewBag.MNOx" />
                </div>
            }
            @if (ViewBag.MNO2 != null)
            {
                <div class="form-group">
                    <label class="control-label">@SharedLocalizer["FormulaMNO2"]</label>
                    <input class="form-control" readonly="readonly" value="@ViewBag.MNO2" />
                </div>
            }
            @if (ViewBag.MNO != null)
            {
                <div class="form-group">
                    <label class="control-label">@SharedLocalizer["FormulaMNO"]</label>
                    <input class="form-control" readonly="readonly" value="@ViewBag.MNO" />
                </div>
            }
            @if (ViewBag.MCO != null)
            {
                <div class="form-group">
                    <label class="control-label">@SharedLocalizer["FormulaMCO"]</label>
                    <input class="form-control" readonly="readonly" value="@ViewBag.MCO" />
                </div>
            }
            @if (ViewBag.MSO2 != null)
            {
                <div class="form-group">
                    <label class="control-label">@SharedLocalizer["FormulaMSO2"]</label>
                    <input class="form-control" readonly="readonly" value="@ViewBag.MSO2" />
                </div>
            }
            @if (ViewBag.MTB != null)
            {
                <div class="form-group">
                    <label class="control-label">@SharedLocalizer["FormulaMTB"]</label>
                    <input class="form-control" readonly="readonly" value="@ViewBag.MTB" />
                </div>
            }
            @if (ViewBag.MNOxY != null)
            {
                <h3>@SharedLocalizer["FormulaTitleAnnualEmissionsPollutants"]</h3>
                <div class="form-group">
                    <label class="control-label">@SharedLocalizer["FormulaMNOxY"]</label>
                    <input class="form-control" readonly="readonly" value="@ViewBag.MNOxY" />
                </div>
            }
            @if (ViewBag.MNO2Y != null)
            {
                <div class="form-group">
                    <label class="control-label">@SharedLocalizer["FormulaMNO2Y"]</label>
                    <input class="form-control" readonly="readonly" value="@ViewBag.MNO2Y" />
                </div>
            }
            @if (ViewBag.MNOY != null)
            {
                <div class="form-group">
                    <label class="control-label">@SharedLocalizer["FormulaMNOY"]</label>
                    <input class="form-control" readonly="readonly" value="@ViewBag.MNOY" />
                </div>
            }
            @if (ViewBag.MCOY != null)
            {
                <div class="form-group">
                    <label class="control-label">@SharedLocalizer["FormulaMCOY"]</label>
                    <input class="form-control" readonly="readonly" value="@ViewBag.MCOY" />
                </div>
            }
            @if (ViewBag.MSO2Y != null)
            {
                <div class="form-group">
                    <label class="control-label">@SharedLocalizer["FormulaMSO2Y"]</label>
                    <input class="form-control" readonly="readonly" value="@ViewBag.MSO2Y" />
                </div>
            }
            @if (ViewBag.MTBY != null)
            {
                <div class="form-group">
                    <label class="control-label">@SharedLocalizer["FormulaMTBY"]</label>
                    <input class="form-control" readonly="readonly" value="@ViewBag.MTBY" />
                </div>
            }
            @if (ViewBag.MZMY != null)
            {
                <div class="form-group">
                    <label class="control-label">@SharedLocalizer["FormulaMZMY"]</label>
                    <input class="form-control" readonly="readonly" value="@ViewBag.MZMY" />
                </div>
            }
            <div class="form-group">
                <input type="submit" value="@SharedLocalizer["Calculate"]" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<script>
    $(document).ready(function () {
        Inputmask({
            "mask": "9[9][9][9][9][9][9][9][9]@CultureInfo.CurrentCulture.NumberFormat.NumberDecimalSeparator" + "99",
            clearMaskOnLostFocus: false,
            "placeholder": "0"
        }).mask(document.getElementById("Ac"));
        Inputmask({
            "mask": "9[9][9][9][9][9][9][9][9]@CultureInfo.CurrentCulture.NumberFormat.NumberDecimalSeparator" + "99",
            clearMaskOnLostFocus: false,
            "placeholder": "0"
        }).mask(document.getElementById("Sc"));
        Inputmask({
            "mask": "9[9][9][9][9][9][9][9][9]@CultureInfo.CurrentCulture.NumberFormat.NumberDecimalSeparator" + "99",
            clearMaskOnLostFocus: false,
            "placeholder": "0"
        }).mask(document.getElementById("Hc"));
        Inputmask({
            "mask": "9[9][9][9][9][9][9][9][9]@CultureInfo.CurrentCulture.NumberFormat.NumberDecimalSeparator" + "99",
            clearMaskOnLostFocus: false,
            "placeholder": "0"
        }).mask(document.getElementById("Wr"));
        Inputmask({
            "mask": "9[9][9][9][9][9][9][9][9]@CultureInfo.CurrentCulture.NumberFormat.NumberDecimalSeparator" + "99",
            clearMaskOnLostFocus: false,
            "placeholder": "0"
        }).mask(document.getElementById("Oc"));
        Inputmask({
            "mask": "9[9][9][9][9][9][9][9][9]@CultureInfo.CurrentCulture.NumberFormat.NumberDecimalSeparator" + "99",
            clearMaskOnLostFocus: false,
            "placeholder": "0"
        }).mask(document.getElementById("Nc"));
        Inputmask({
            "mask": "9[9][9][9][9][9][9][9][9]@CultureInfo.CurrentCulture.NumberFormat.NumberDecimalSeparator" + "99",
            clearMaskOnLostFocus: false,
            "placeholder": "0"
        }).mask(document.getElementById("Q"));
        Inputmask({
            "mask": "9[9][9][9][9][9][9][9][9]@CultureInfo.CurrentCulture.NumberFormat.NumberDecimalSeparator" + "99",
            clearMaskOnLostFocus: false,
            "placeholder": "0"
        }).mask(document.getElementById("KPDKA"));
        Inputmask({
            "mask": "9[9][9][9][9][9][9][9][9]@CultureInfo.CurrentCulture.NumberFormat.NumberDecimalSeparator" + "99",
            clearMaskOnLostFocus: false,
            "placeholder": "0"
        }).mask(document.getElementById("Av"));
        Inputmask({
            "mask": "9[9][9][9][9][9][9][9][9]@CultureInfo.CurrentCulture.NumberFormat.NumberDecimalSeparator" + "99",
            clearMaskOnLostFocus: false,
            "placeholder": "0"
        }).mask(document.getElementById("Qri"));
        Inputmask({
            "mask": "9[9][9][9][9][9][9][9][9]@CultureInfo.CurrentCulture.NumberFormat.NumberDecimalSeparator" + "99",
            clearMaskOnLostFocus: false,
            "placeholder": "0"
        }).mask(document.getElementById("Q4"));
        Inputmask({
            "mask": "9[9][9][9][9][9][9][9][9]@CultureInfo.CurrentCulture.NumberFormat.NumberDecimalSeparator" + "99",
            clearMaskOnLostFocus: false,
            "placeholder": "0"
        }).mask(document.getElementById("CNOx"));
        Inputmask({
            "mask": "9[9][9][9][9][9][9][9][9]@CultureInfo.CurrentCulture.NumberFormat.NumberDecimalSeparator" + "99",
            clearMaskOnLostFocus: false,
            "placeholder": "0"
        }).mask(document.getElementById("CCO"));
        Inputmask({
            "mask": "9[9][9][9][9][9][9][9][9]@CultureInfo.CurrentCulture.NumberFormat.NumberDecimalSeparator" + "99",
            clearMaskOnLostFocus: false,
            "placeholder": "0"
        }).mask(document.getElementById("CSO2"));
        Inputmask({
            "mask": "9[9][9][9][9][9][9][9][9]@CultureInfo.CurrentCulture.NumberFormat.NumberDecimalSeparator" + "99",
            clearMaskOnLostFocus: false,
            "placeholder": "0"
        }).mask(document.getElementById("CTB"));
        Inputmask({
            "mask": "9[9][9][9][9][9][9][9][9]@CultureInfo.CurrentCulture.NumberFormat.NumberDecimalSeparator" + "99",
            clearMaskOnLostFocus: false,
            "placeholder": "0"
        }).mask(document.getElementById("N"));
        Inputmask({
            "mask": "9[9][9][9][9][9][9][9][9]@CultureInfo.CurrentCulture.NumberFormat.NumberDecimalSeparator" + "99",
            clearMaskOnLostFocus: false,
            "placeholder": "0"
        }).mask(document.getElementById("Df"));
        Inputmask({
            "mask": "9[9][9][9][9][9][9][9][9]@CultureInfo.CurrentCulture.NumberFormat.NumberDecimalSeparator" + "99",
            clearMaskOnLostFocus: false,
            "placeholder": "0"
        }).mask(document.getElementById("Dn"));
        Inputmask({
            "mask": "9[9][9][9][9][9][9][9][9]@CultureInfo.CurrentCulture.NumberFormat.NumberDecimalSeparator" + "99",
            clearMaskOnLostFocus: false,
            "placeholder": "0"
        }).mask(document.getElementById("Nzy"));
        Inputmask({
            "mask": "9[9][9][9][9][9][9][9][9]@CultureInfo.CurrentCulture.NumberFormat.NumberDecimalSeparator" + "99",
            clearMaskOnLostFocus: false,
            "placeholder": "0"
        }).mask(document.getElementById("Z"));
        Inputmask({
            "mask": "9[9][9][9][9][9][9][9][9]@CultureInfo.CurrentCulture.NumberFormat.NumberDecimalSeparator" + "99",
            clearMaskOnLostFocus: false,
            "placeholder": "0"
        }).mask(document.getElementById("A"));
        Inputmask({
            "mask": "9[9][9][9][9][9][9][9][9]@CultureInfo.CurrentCulture.NumberFormat.NumberDecimalSeparator" + "99",
            clearMaskOnLostFocus: false,
            "placeholder": "0"
        }).mask(document.getElementById("At"));
    });
</script>