@using Clever.Controllers
@using Microsoft.Extensions.Localization
@using System.Globalization;
@inject IStringLocalizer<SharedResources> SharedLocalizer
@{
    ViewData["Title"] = SharedLocalizer["FormulaGw"];
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/jquery-inputmask/inputmask/inputmask.js"></script>
<h2>@SharedLocalizer["FormulaGw"]</h2>

<div class="row">
    <div class="col-md-4">
        <form asp-action="FormulaGw">
            <div class="form-group">
                <label class="control-label">@SharedLocalizer["FormulaBt"]</label>
                <input id="Bt" class="form-control" name="Bt" value="@ViewBag.Bt" />
            </div>
            <div class="form-group">
                <label class="control-label">@SharedLocalizer["FormulaQsnr"]</label>
                <input id="Qsnr" class="form-control" name="Qsnr" value="@ViewBag.Qsnr" />
            </div>
            <div class="form-group">
                <label class="control-label">@SharedLocalizer["FormulaYco"]</label>
                <input id="Yco" class="form-control" name="Yco" value="@ViewBag.Yco" />
            </div>
            <div class="form-group">
                <label class="control-label">@SharedLocalizer["FormulaDyx"]</label>
                <input id="Dyx" class="form-control" name="Dyx" value="@ViewBag.Dyx" />
            </div>
            <div class="form-group">
                <label class="control-label">@SharedLocalizer["FormulaCcoSgt"]</label>
                <input id="CcoSgt" class="form-control" name="CcoSgt" value="@ViewBag.CcoSgt" />
            </div>
            <div class="form-group">
                <label class="control-label">@SharedLocalizer["FormulaPsi"]</label>
                <input id="Psi" class="form-control" name="Psi" value="@ViewBag.Psi" />
            </div>
            <div class="form-group">
                <label class="control-label">@SharedLocalizer["FormulaUps"]</label>
                <input id="Ups" class="form-control" name="Ups" value="@ViewBag.Ups" />
            </div>
            @if (ViewBag.Gw != null)
            {
                <div class="form-group">
                    <label class="control-label">@SharedLocalizer["FormulaGw"]</label>
                    <input class="form-control" readonly="readonly" value="@ViewBag.Gw" />
                </div>
            }
            <div class="form-group">
                <input type="submit" value="@SharedLocalizer["Calculate"]" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<script>
    $(document).ready(function () {
        Inputmask({
            "mask": "9[9][9][9][9][9][9][9][9]@CultureInfo.CurrentCulture.NumberFormat.NumberDecimalSeparator" + "99999",
            clearMaskOnLostFocus: false,
            "placeholder": "0"
        }).mask(document.getElementById("Bt"));
    });
    $(document).ready(function () {
        Inputmask({
            "mask": "9[9][9][9][9][9][9][9][9]@CultureInfo.CurrentCulture.NumberFormat.NumberDecimalSeparator" + "99999",
            clearMaskOnLostFocus: false,
            "placeholder": "0"
        }).mask(document.getElementById("Qsnr"));
    });
    $(document).ready(function () {
        Inputmask({
            "mask": "9[9][9][9][9][9][9][9][9]@CultureInfo.CurrentCulture.NumberFormat.NumberDecimalSeparator" + "99999",
            clearMaskOnLostFocus: false,
            "placeholder": "0"
        }).mask(document.getElementById("Yco"));
    });
    $(document).ready(function () {
        Inputmask({
            "mask": "9[9][9][9][9][9][9][9][9]@CultureInfo.CurrentCulture.NumberFormat.NumberDecimalSeparator" + "99999",
            clearMaskOnLostFocus: false,
            "placeholder": "0"
        }).mask(document.getElementById("Dyx"));
    });
    $(document).ready(function () {
        Inputmask({
            "mask": "9[9][9][9][9][9][9][9][9]@CultureInfo.CurrentCulture.NumberFormat.NumberDecimalSeparator" + "99999",
            clearMaskOnLostFocus: false,
            "placeholder": "0"
        }).mask(document.getElementById("CcoSgt"));
    });
    $(document).ready(function () {
        Inputmask({
            "mask": "9[9][9][9][9][9][9][9][9]@CultureInfo.CurrentCulture.NumberFormat.NumberDecimalSeparator" + "99999",
            clearMaskOnLostFocus: false,
            "placeholder": "0"
        }).mask(document.getElementById("Psi"));
    });
    $(document).ready(function () {
        Inputmask({
            "mask": "9[9][9][9][9][9][9][9][9]@CultureInfo.CurrentCulture.NumberFormat.NumberDecimalSeparator" + "99999",
            clearMaskOnLostFocus: false,
            "placeholder": "0"
        }).mask(document.getElementById("Ups"));
    });
</script>
