@using Clever.Controllers
@using Microsoft.Extensions.Localization
@using System.Globalization;
@inject IStringLocalizer<SharedResources> SharedLocalizer
@{
    ViewData["Title"] = SharedLocalizer["FormulaGno2"];
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/jquery-inputmask/inputmask/inputmask.js"></script>
<h2>@SharedLocalizer["FormulaGno2"]</h2>

<div class="row">
    <div class="col-md-4">
        <form asp-action="FormulaGno2">
            <div class="form-group">
                <label class="control-label">@SharedLocalizer["FormulaBno2"]</label>
                <input id="Bno2" class="form-control" name="Bno2" value="@ViewBag.Bno2" />
            </div>
            <div class="form-group">
                <label class="control-label">@SharedLocalizer["FormulaQrnNo2"]</label>
                <input id="QrnNo2" class="form-control" name="QrnNo2" value="@ViewBag.QrnNo2" />
            </div>
            <div class="form-group">
                <label class="control-label">@SharedLocalizer["FormulaYno2"]</label>
                <input id="Yno2" class="form-control" name="Yno2" value="@ViewBag.Yno2" />
            </div>
            @if (ViewBag.Gno2 != null)
            {
                <div class="form-group">
                    <label class="control-label">@SharedLocalizer["FormulaGno2"]</label>
                    <input class="form-control" readonly="readonly" value="@ViewBag.Gno2" />
                </div>
            }
            <div class="form-group">
                <input type="submit" value="@SharedLocalizer["Calculate"]" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<script>
    $(document).ready(function () {
        Inputmask({
            "mask": "9[9][9][9][9][9][9][9][9]@CultureInfo.CurrentCulture.NumberFormat.NumberDecimalSeparator" + "99999",
            clearMaskOnLostFocus: false,
            "placeholder": "0"
        }).mask(document.getElementById("Bno2"));
    });
    $(document).ready(function () {
        Inputmask({
            "mask": "9[9][9][9][9][9][9][9][9]@CultureInfo.CurrentCulture.NumberFormat.NumberDecimalSeparator" + "99999",
            clearMaskOnLostFocus: false,
            "placeholder": "0"
        }).mask(document.getElementById("QrnNo2"));
    });
    $(document).ready(function () {
        Inputmask({
            "mask": "9[9][9][9][9][9][9][9][9]@CultureInfo.CurrentCulture.NumberFormat.NumberDecimalSeparator" + "99999",
            clearMaskOnLostFocus: false,
            "placeholder": "0"
        }).mask(document.getElementById("Yno2"));
    });
</script>
