@using Clever.Controllers
@using Microsoft.Extensions.Localization
@using System.Globalization;
@inject IStringLocalizer<SharedResources> SharedLocalizer
@{
    ViewData["Title"] = SharedLocalizer["FormulaV1gvs"];
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/jquery-inputmask/inputmask/inputmask.js"></script>
<h2>@SharedLocalizer["FormulaV1gvs"]</h2>

<div class="row">
    <div class="col-md-4">
        <form asp-action="FormulaV1gvs">
            <div class="form-group">
                <label class="control-label">@SharedLocalizer["FormulaF"]</label>
                <input id="F" class="form-control" name="F" value="@ViewBag.F" />
            </div>
            <div class="form-group">
                <label class="control-label">@SharedLocalizer["FormulaW"]</label>
                <input id="W" class="form-control" name="W" value="@ViewBag.W" />
            </div>
            @if (ViewBag.V1gvs != null)
            {
                <div class="form-group">
                    <label class="control-label">@SharedLocalizer["FormulaV1gvs"]</label>
                    <input class="form-control" readonly="readonly" value="@ViewBag.V1gvs" />
                </div>
            }
            <div class="form-group">
                <input type="submit" value="@SharedLocalizer["Calculate"]" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<script>
    $(document).ready(function () {
        Inputmask({
            "mask": "9[9][9][9][9][9][9][9][9]@CultureInfo.CurrentCulture.NumberFormat.NumberDecimalSeparator" + "99999",
            clearMaskOnLostFocus: false,
            "placeholder": "0"
        }).mask(document.getElementById("F"));
    });
    $(document).ready(function () {
        Inputmask({
            "mask": "9[9][9][9][9][9][9][9][9]@CultureInfo.CurrentCulture.NumberFormat.NumberDecimalSeparator" + "99999",
            clearMaskOnLostFocus: false,
            "placeholder": "0"
        }).mask(document.getElementById("W"));
    });
</script>
