@using Clever.Controllers
@using Microsoft.Extensions.Localization
@using System.Globalization;
@inject IStringLocalizer<SharedResources> SharedLocalizer
@{
    ViewData["Title"] = SharedLocalizer["FormulaMNOxY"];
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/jquery-inputmask/inputmask/inputmask.js"></script>
<h2>@SharedLocalizer["FormulaMNOxY"]</h2>

<div class="row">
    <div class="col-md-4">
        <form asp-action="FormulaMNOxY">
            <div class="form-group">
                <label class="control-label">@SharedLocalizer["FormulaCjNOx"]</label>
                <input id="CjNOx" class="form-control" name="CjNOx" value="@ViewBag.CjNOx" />
            </div>
            <div class="form-group">
                <label class="control-label">@SharedLocalizer["FormulaVcr"]</label>
                <input id="Vcr" class="form-control" name="Vcr" value="@ViewBag.Vcr" />
            </div>
            <div class="form-group">
                <label class="control-label">@SharedLocalizer["FormulaBp"]</label>
                <input id="Bp" class="form-control" name="Bp" value="@ViewBag.Bp" />
            </div>
            <div class="form-group">
                <label class="control-label">@SharedLocalizer["FormulaN"]</label>
                <input id="N" class="form-control" name="N" value="@ViewBag.N" />
            </div>
            @if (ViewBag.MNOxY != null)
            {
                <div class="form-group">
                    <label class="control-label">@SharedLocalizer["FormulaMNOxY"]</label>
                    <input class="form-control" readonly="readonly" value="@ViewBag.MNOxY" />
                </div>
            }
            <div class="form-group">
                <input type="submit" value="@SharedLocalizer["Calculate"]" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<script>
    $(document).ready(function () {
        Inputmask({
            "mask": "9[9][9][9][9][9][9][9][9]@CultureInfo.CurrentCulture.NumberFormat.NumberDecimalSeparator" + "99",
            clearMaskOnLostFocus: false,
            "placeholder": "0"
        }).mask(document.getElementById("CjNOx"));
    });
    $(document).ready(function () {
        Inputmask({
            "mask": "9[9][9][9][9][9][9][9][9]@CultureInfo.CurrentCulture.NumberFormat.NumberDecimalSeparator" + "99",
            clearMaskOnLostFocus: false,
            "placeholder": "0"
        }).mask(document.getElementById("Vcr"));
        Inputmask({
            "mask": "9[9][9][9][9][9][9][9][9]@CultureInfo.CurrentCulture.NumberFormat.NumberDecimalSeparator" + "99",
            clearMaskOnLostFocus: false,
            "placeholder": "0"
        }).mask(document.getElementById("Bp"));
    });
    $(document).ready(function () {
        Inputmask({
            "mask": "9[9][9][9][9][9][9][9][9]@CultureInfo.CurrentCulture.NumberFormat.NumberDecimalSeparator" + "99",
            clearMaskOnLostFocus: false,
            "placeholder": "0"
        }).mask(document.getElementById("N"));
    });
</script>