@using Clever.Controllers
@using Microsoft.Extensions.Localization
@using System.Globalization;
@inject IStringLocalizer<SharedResources> SharedLocalizer
@{
    ViewData["Title"] = SharedLocalizer["FormulaGrGrs"];
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/jquery-inputmask/inputmask/inputmask.js"></script>
<h2>@SharedLocalizer["FormulaGrGrs"]</h2>

<div class="row">
    <div class="col-md-4">
        <form asp-action="FormulaGrGrs">
            <div class="form-group">
                <label class="control-label">@SharedLocalizer["FormulaQgrs"]</label>
                <input id="Qgrs" class="form-control" name="Qgrs" value="@ViewBag.Qgrs" />
            </div>
            @if (ViewBag.GrGrs != null)
            {
                <div class="form-group">
                    <label class="control-label">@SharedLocalizer["FormulaGrGrs"]</label>
                    <input class="form-control" readonly="readonly" value="@ViewBag.GrGrs" />
                </div>
            }
            <div class="form-group">
                <input type="submit" value="@SharedLocalizer["Calculate"]" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<script>
    $(document).ready(function () {
        Inputmask({
            "mask": "9[9][9][9][9][9][9][9][9]@CultureInfo.CurrentCulture.NumberFormat.NumberDecimalSeparator" + "99999",
            clearMaskOnLostFocus: false,
            "placeholder": "0"
        }).mask(document.getElementById("Qgrs"));
    });
</script>
