@using Clever.Controllers
@using Microsoft.Extensions.Localization
@using System.Globalization;
@inject IStringLocalizer<SharedResources> SharedLocalizer
@{
    ViewData["Title"] = SharedLocalizer["FormulaMCOY"];
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/jquery-inputmask/inputmask/inputmask.js"></script>
<h2>@SharedLocalizer["FormulaMCOY"]</h2>

<div class="row">
    <div class="col-md-4">
        <form asp-action="FormulaMCOY">
            <div class="form-group">
                <label class="control-label">@SharedLocalizer["FormulaCjCO"]</label>
                <input id="CjCO" class="form-control" name="CjCO" value="@ViewBag.CjCO" />
            </div>
            <div class="form-group">
                <label class="control-label">@SharedLocalizer["FormulaVcr"]</label>
                <input id="Vcr" class="form-control" name="Vcr" value="@ViewBag.Vcr" />
            </div>
            <div class="form-group">
                <label class="control-label">@SharedLocalizer["FormulaBp"]</label>
                <input id="Bp" class="form-control" name="Bp" value="@ViewBag.Bp" />
            </div>
            <div class="form-group">
                <label class="control-label">@SharedLocalizer["FormulaN"]</label>
                <input id="N" class="form-control" name="N" value="@ViewBag.N" />
            </div>
            @if (ViewBag.MCOY != null)
            {
                <div class="form-group">
                    <label class="control-label">@SharedLocalizer["FormulaMCOY"]</label>
                    <input class="form-control" readonly="readonly" value="@ViewBag.MCOY" />
                </div>
            }
            <div class="form-group">
                <input type="submit" value="@SharedLocalizer["Calculate"]" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<script>
    $(document).ready(function () {
        Inputmask({
            "mask": "9[9][9][9][9][9][9][9][9]@CultureInfo.CurrentCulture.NumberFormat.NumberDecimalSeparator" + "99",
            clearMaskOnLostFocus: false,
            "placeholder": "0"
        }).mask(document.getElementById("CjCO"));
    });
    $(document).ready(function () {
        Inputmask({
            "mask": "9[9][9][9][9][9][9][9][9]@CultureInfo.CurrentCulture.NumberFormat.NumberDecimalSeparator" + "99",
            clearMaskOnLostFocus: false,
            "placeholder": "0"
        }).mask(document.getElementById("Vcr"));
    });
    $(document).ready(function () {
        Inputmask({
            "mask": "9[9][9][9][9][9][9][9][9]@CultureInfo.CurrentCulture.NumberFormat.NumberDecimalSeparator" + "99",
            clearMaskOnLostFocus: false,
            "placeholder": "0"
        }).mask(document.getElementById("Bp"));
    });
    $(document).ready(function () {
        Inputmask({
            "mask": "9[9][9][9][9][9][9][9][9]@CultureInfo.CurrentCulture.NumberFormat.NumberDecimalSeparator" + "99",
            clearMaskOnLostFocus: false,
            "placeholder": "0"
        }).mask(document.getElementById("N"));
    });
</script>