@using Clever.Controllers
@using Microsoft.Extensions.Localization
@using System.Globalization;
@inject IStringLocalizer<SharedResources> SharedLocalizer
@{
    ViewData["Title"] = SharedLocalizer["FormulaBp"];
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/jquery-inputmask/inputmask/inputmask.js"></script>
<h2>@SharedLocalizer["FormulaBp"]</h2>

<div class="row">
    <div class="col-md-4">
        <form asp-action="FormulaBp">
            <div class="form-group">
                <label class="control-label">@SharedLocalizer["FormulaQ4"]</label>
                <input id="Q4" class="form-control" name="Q4" value="@ViewBag.Q4" />
            </div>
            <div class="form-group">
                <label class="control-label">@SharedLocalizer["FormulaB"]</label>
                <input id="B" class="form-control" name="B" value="@ViewBag.B" />
            </div>
            @if (ViewBag.Bp != null)
            {
                <div class="form-group">
                    <label class="control-label">@SharedLocalizer["FormulaBp"]</label>
                    <input class="form-control" readonly="readonly" value="@ViewBag.Bp" />
                </div>
            }
            <div class="form-group">
                <input type="submit" value="@SharedLocalizer["Calculate"]" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<script>
    $(document).ready(function () {
        Inputmask({
            "mask": "9[9][9][9][9][9][9][9][9]@CultureInfo.CurrentCulture.NumberFormat.NumberDecimalSeparator" + "99",
            clearMaskOnLostFocus: false,
            "placeholder": "0"
        }).mask(document.getElementById("Q4"));
        Inputmask({
            "mask": "9[9][9][9][9][9][9][9][9]@CultureInfo.CurrentCulture.NumberFormat.NumberDecimalSeparator" + "99",
            clearMaskOnLostFocus: false,
            "placeholder": "0"
        }).mask(document.getElementById("B"));
    });
</script>