@using Clever.Controllers
@using Microsoft.Extensions.Localization
@using System.Globalization;
@inject IStringLocalizer<SharedResources> SharedLocalizer
@{
    ViewData["Title"] = SharedLocalizer["FormulaMiFact"];
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/jquery-inputmask/inputmask/inputmask.js"></script>
<h2>@SharedLocalizer["FormulaMiFact"]</h2>

<div class="row">
    <div class="col-md-4">
        <form asp-action="FormulaMiFact">
            <div class="form-group">
                <label class="control-label">@SharedLocalizer["FormulaKiMif"]</label>
                <select name="KiMif" class="form-control" id="KiMif">
                    <option value="0">Выберите один вариант</option>
                    <option value="1">@SharedLocalizer["gasTurbine"]</option>
                    <option value="2">@SharedLocalizer["gasEngine"]</option>
                </select>
            </div>
            <div class="form-group">
                <label class="control-label">@SharedLocalizer["FormulaVtr"]</label>
                <input id="Vtr" class="form-control" name="Vtr" value="@ViewBag.Vtr" />
            </div>
            @if (ViewBag.MiFactNOx != null)
            {
                <div class="form-group">
                    <label class="control-label">@SharedLocalizer["FormulaMiFactNOx"]</label>
                    <input class="form-control" readonly="readonly" value="@ViewBag.MiFactNOx" />
                </div>
            }
            @if (ViewBag.MiFactCO != null)
            {
                <div class="form-group">
                    <label class="control-label">@SharedLocalizer["FormulaMiFactCO"]</label>
                    <input class="form-control" readonly="readonly" value="@ViewBag.MiFactCO" />
                </div>
            }
            <div class="form-group">
                <input type="submit" value="@SharedLocalizer["Calculate"]" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<script>
    $(document).ready(function () {
        Inputmask({
            "mask": "9[9][9][9][9][9][9][9][9]@CultureInfo.CurrentCulture.NumberFormat.NumberDecimalSeparator" + "99999",
            clearMaskOnLostFocus: false,
            "placeholder": "0"
        }).mask(document.getElementById("Vtr"));
    });
</script>
