@using Clever.Controllers
@using Microsoft.Extensions.Localization
@using System.Globalization;
@inject IStringLocalizer<SharedResources> SharedLocalizer
@{
    ViewData["Title"] = SharedLocalizer["FormulaVcr"];
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/jquery-inputmask/inputmask/inputmask.js"></script>
<h2>@SharedLocalizer["FormulaVcr"]</h2>

<div class="row">
    <div class="col-md-4">
        <form asp-action="FormulaVcr">
            <div class="form-group">
                <label class="control-label">@SharedLocalizer["FormulaVr"]</label>
                <input id="Vr" class="form-control" name="Vr" value="@ViewBag.Vr" />
            </div>
            <div class="form-group">
                <label class="control-label">@SharedLocalizer["FormulaVh2o"]</label>
                <input id="Vh2o" class="form-control" name="Vh2o" value="@ViewBag.Vh2o" />
            </div>
            <div class="form-group">
                <label class="control-label">@SharedLocalizer["FormulaV"]</label>
                <input id="V" class="form-control" name="V" value="@ViewBag.V" />
            </div>
            @if (ViewBag.Vcr != null)
            {
                <div class="form-group">
                    <label class="control-label">@SharedLocalizer["FormulaVcr"]</label>
                    <input class="form-control" readonly="readonly" value="@ViewBag.Vcr" />
                </div>
            }
            <div class="form-group">
                <input type="submit" value="@SharedLocalizer["Calculate"]" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<script>
    $(document).ready(function () {
        Inputmask({
            "mask": "9[9][9][9][9][9][9][9][9]@CultureInfo.CurrentCulture.NumberFormat.NumberDecimalSeparator" + "99",
            clearMaskOnLostFocus: false,
            "placeholder": "0"
        }).mask(document.getElementById("Vr"));
        Inputmask({
            "mask": "9[9][9][9][9][9][9][9][9]@CultureInfo.CurrentCulture.NumberFormat.NumberDecimalSeparator" + "99",
            clearMaskOnLostFocus: false,
            "placeholder": "0"
        }).mask(document.getElementById("Vh2o"));
        Inputmask({
            "mask": "9[9][9][9][9][9][9][9][9]@CultureInfo.CurrentCulture.NumberFormat.NumberDecimalSeparator" + "99",
            clearMaskOnLostFocus: false,
            "placeholder": "0"
        }).mask(document.getElementById("V"));
    });
</script>