@using Clever.Controllers
@using Microsoft.Extensions.Localization
@using System.Globalization;
@inject IStringLocalizer<SharedResources> SharedLocalizer
@{
    ViewData["Title"] = SharedLocalizer["FormulaV1"];
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/jquery-inputmask/inputmask/inputmask.js"></script>
<h2>@SharedLocalizer["FormulaV1"]</h2>

<div class="row">
    <div class="col-md-4">
        <form asp-action="FormulaV1">
            <div class="form-group">
                <label class="control-label">@SharedLocalizer["FormulaD"]</label>
                <input id="D" class="form-control" name="D" value="@ViewBag.D" />
            </div>
            <div class="form-group">
                <label class="control-label">@SharedLocalizer["FormulaNp"]</label>
                <input id="Np" class="form-control" name="Np" value="@ViewBag.Np" />
            </div>
            <div class="form-group">
                <label class="control-label">@SharedLocalizer["FormulaP"]</label>
                <input id="P" class="form-control" name="P" value="@ViewBag.P" />
            </div>
            <div class="form-group">
                <label class="control-label">@SharedLocalizer["Formulat"]</label>
                <input id="t" class="form-control" name="t" value="@ViewBag.t" />
            </div>
            <div class="form-group">
                <label class="control-label">@SharedLocalizer["FormulaTk"]</label>
                <input id="Tk" class="form-control" name="Tk" value="@ViewBag.Tk" />
            </div>
            <div class="form-group">
                <label class="control-label">@SharedLocalizer["FormulaRor"]</label>
                <select asp-items="ViewBag.GasDensity" name="Ror" class="form-control" id="Ror"></select>
            </div>
            @if (ViewBag.V1 != null)
            {
                <div class="form-group">
                    <label class="control-label">@SharedLocalizer["FormulaV1"]</label>
                    <input class="form-control" readonly="readonly" value="@ViewBag.V1" />
                </div>
            }
            <div class="form-group">
                <input type="submit" value="@SharedLocalizer["Calculate"]" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<script>
    $(document).ready(function () {
        Inputmask({
            "mask": "9[9][9][9][9][9][9][9][9]@CultureInfo.CurrentCulture.NumberFormat.NumberDecimalSeparator" + "99999",
            clearMaskOnLostFocus: false,
            "placeholder": "0"
        }).mask(document.getElementById("D"));
    });
    $(document).ready(function () {
        Inputmask({
            "mask": "9[9][9][9][9][9][9][9][9]@CultureInfo.CurrentCulture.NumberFormat.NumberDecimalSeparator" + "99999",
            clearMaskOnLostFocus: false,
            "placeholder": "0"
        }).mask(document.getElementById("Np"));
    });
    $(document).ready(function () {
        Inputmask({
            "mask": "9[9][9][9][9][9][9][9][9]@CultureInfo.CurrentCulture.NumberFormat.NumberDecimalSeparator" + "99999",
            clearMaskOnLostFocus: false,
            "placeholder": "0"
        }).mask(document.getElementById("P"));
    });
    $(document).ready(function () {
        Inputmask({
            "mask": "9[9][9][9][9][9][9][9][9]@CultureInfo.CurrentCulture.NumberFormat.NumberDecimalSeparator" + "99999",
            clearMaskOnLostFocus: false,
            "placeholder": "0"
        }).mask(document.getElementById("t"));
    });
    $(document).ready(function () {
        Inputmask({
            "mask": "9[9][9][9][9][9][9][9][9]@CultureInfo.CurrentCulture.NumberFormat.NumberDecimalSeparator" + "99999",
            clearMaskOnLostFocus: false,
            "placeholder": "0"
        }).mask(document.getElementById("Tk"));
    });
</script>
