@using Clever.Controllers
@using Microsoft.Extensions.Localization
@using System.Globalization;
@inject IStringLocalizer<SharedResources> SharedLocalizer
@{
    ViewData["Title"] = SharedLocalizer["FormulaVn2"];
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/jquery-inputmask/inputmask/inputmask.js"></script>
<h2>@SharedLocalizer["FormulaVn2"]</h2>

<div class="row">
    <div class="col-md-4">
        <form asp-action="FormulaVn2">
            <div class="form-group">
                <label class="control-label">@SharedLocalizer["FormulaV"]</label>
                <input id="V" class="form-control" name="V" value="@ViewBag.V" />
            </div>
            <div class="form-group">
                <label class="control-label">@SharedLocalizer["FormulaNrW"]</label>
                <input id="NrW" class="form-control" name="NrW" value="@ViewBag.NrW" />
            </div>
            @if (ViewBag.Vn2 != null)
            {
                <div class="form-group">
                    <label class="control-label">@SharedLocalizer["FormulaVn2"]</label>
                    <input class="form-control" readonly="readonly" value="@ViewBag.Vn2" />
                </div>
            }
            <div class="form-group">
                <input type="submit" value="@SharedLocalizer["Calculate"]" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<script>
    $(document).ready(function () {
        Inputmask({
            "mask": "9[9][9][9][9][9][9][9][9]@CultureInfo.CurrentCulture.NumberFormat.NumberDecimalSeparator" + "99",
            clearMaskOnLostFocus: false,
            "placeholder": "0"
        }).mask(document.getElementById("V"));
        Inputmask({
            "mask": "9[9][9][9][9][9][9][9][9]@CultureInfo.CurrentCulture.NumberFormat.NumberDecimalSeparator" + "99",
            clearMaskOnLostFocus: false,
            "placeholder": "0"
        }).mask(document.getElementById("NrW"));
    });
</script>