@using Clever.Controllers
@using Microsoft.Extensions.Localization
@using System.Globalization;
@inject IStringLocalizer<SharedResources> SharedLocalizer
@{
    ViewData["Title"] = SharedLocalizer["FormulaGrPhg"];
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/jquery-inputmask/inputmask/inputmask.js"></script>
<h2>@SharedLocalizer["FormulaGrPhg"]</h2>

<div class="row">
    <div class="col-md-4">
        <form asp-action="FormulaGrPhg">
            <div class="form-group">
                <label class="control-label">@SharedLocalizer["FormulaКphg"]</label>
                <input id="Кphg" class="form-control" name="Кphg" value="@ViewBag.Кphg" />
            </div>
            <div class="form-group">
                <label class="control-label">@SharedLocalizer["FormulaRor"]</label>
                <select asp-items="ViewBag.GasDensity13" name="RoPhgKs" class="form-control" id="RoPhgKs"></select>
            </div>
            <div class="form-group">
                <label class="control-label">@SharedLocalizer["FormulaVgrPhg"]</label>
                <input id="VgrPhg" class="form-control" name="VgrPhg" value="@ViewBag.VgrPhg" />
            </div>
            @if (ViewBag.GrPhg != null)
            {
                <div class="form-group">
                    <label class="control-label">@SharedLocalizer["FormulaGrPhg"]</label>
                    <input class="form-control" readonly="readonly" value="@ViewBag.GrPhg" />
                </div>
            }
            <div class="form-group">
                <input type="submit" value="@SharedLocalizer["Calculate"]" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<script>
    $(document).ready(function () {
        Inputmask({
            "mask": "9[9][9][9][9][9][9][9][9]@CultureInfo.CurrentCulture.NumberFormat.NumberDecimalSeparator" + "99999",
            clearMaskOnLostFocus: false,
            "placeholder": "0"
        }).mask(document.getElementById("Кphg"));
    });
    $(document).ready(function () {
        Inputmask({
            "mask": "9[9][9][9][9][9][9][9][9]@CultureInfo.CurrentCulture.NumberFormat.NumberDecimalSeparator" + "99999",
            clearMaskOnLostFocus: false,
            "placeholder": "0"
        }).mask(document.getElementById("VgrPhg"));
    });
</script>
