@using Clever.Controllers
@using Microsoft.Extensions.Localization
@using System.Globalization;
@inject IStringLocalizer<SharedResources> SharedLocalizer
@{
    ViewData["Title"] = SharedLocalizer["FormulaGasVolumeEmissionValues"];
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/jquery-inputmask/inputmask/inputmask.js"></script>
<h2>Расчет годовых выбросов</h2>

<div class="row">
    <div class="col-md-4">
        <form asp-action="FormulaGAS14">
            @{
                decimal[] VtgArray = ViewBag.Vtg;
                int countVtg = VtgArray.Count();
            }
            <input type="button" value="@SharedLocalizer["Add"]" onclick="AddVtg()" class="form-control">
            <div class="form-group">
                <label class="control-label">@SharedLocalizer["Count"]</label>
                <input id="VtgCount" class="form-control" value="@countVtg" readonly="readonly" />
            </div>
            @for (int i = 0; i < countVtg; i++)
            {
                string divId = "VtgDiv" + i.ToString(),
                    inputId = "Vtg" + i.ToString();
                decimal? value = VtgArray[i] == 0 ? (decimal?)null : VtgArray[i];
                <div class="form-group" id="@divId">
                    <label class="control-label">@SharedLocalizer["FormulaVtg"]</label>
                    <input id="@inputId" class="form-control" name="Vtg[@i.ToString()]" value="@value" />
                    <input type="button" class="form-control" value="@SharedLocalizer["Remove"]" onclick="RemoveVtg(@i)">
                </div>
            }
            <div class="form-group">
                <label class="control-label">@SharedLocalizer["FormulaMiTg"]</label>
                <input id="MiTg" class="form-control" name="MiTg" value="@ViewBag.MiTg" />
            </div>
            @{
                decimal[] VgdgArray = ViewBag.Vgdg;
                int countVgdg = VgdgArray.Count();
            }
            <input type="button" value="@SharedLocalizer["Add"]" onclick="AddVgdg()" class="form-control">
            <div class="form-group">
                <label class="control-label">@SharedLocalizer["Count"]</label>
                <input id="VgdgCount" class="form-control" value="@countVgdg" readonly="readonly" />
            </div>
            @for (int i = 0; i < countVgdg; i++)
            {
                string divId = "VgdgDiv" + i.ToString(),
                    inputId = "Vgdg" + i.ToString();
                decimal? value = VgdgArray[i] == 0 ? (decimal?)null : VgdgArray[i];
                <div class="form-group" id="@divId">
                    <label class="control-label">@SharedLocalizer["FormulaVgdg"]</label>
                    <input id="@inputId" class="form-control" name="Vgdg[@i.ToString()]" value="@value" />
                    <input type="button" class="form-control" value="@SharedLocalizer["Remove"]" onclick="RemoveVgdg(@i)">
                </div>
            }
            <div class="form-group">
                <label class="control-label">@SharedLocalizer["FormulaCiDg"]</label>
                <input id="CiDg" class="form-control" name="CiDg" value="@ViewBag.CiDg" />
            </div>
            <div class="form-group">
                <label class="control-label">@SharedLocalizer["FormulaKiDg"]</label>
                <select name="KiDg" class="form-control" id="KiDg">
                    <option value="0">Выберите один вариант</option>
                    <option value="1">@SharedLocalizer["gasTurbine"]</option>
                    <option value="2">@SharedLocalizer["gasEngine"]</option>
                </select>
            </div>
            <div class="form-group">
                <label class="control-label">@SharedLocalizer["FormulaCsSa"]</label>
                <input id="CsSa" class="form-control" name="CsSa" value="@ViewBag.CsSa" />
            </div>
            <div class="form-group">
                <label class="control-label">@SharedLocalizer["FormulaRor"]</label>
                <select asp-items="ViewBag.GasDensity14" name="RoSa" class="form-control" id="RoSa"></select>
            </div>
            @{
                decimal[] VsaArray = ViewBag.Vsa;
                int countVsa = VsaArray.Count();
            }
            <input type="button" value="@SharedLocalizer["Add"]" onclick="AddVsa()" class="form-control">
            <div class="form-group">
                <label class="control-label">@SharedLocalizer["Count"]</label>
                <input id="VsaCount" class="form-control" value="@countVsa" readonly="readonly" />
            </div>
            @for (int i = 0; i < countVsa; i++)
            {
                string divId = "VsaDiv" + i.ToString(),
                    inputId = "Vsa" + i.ToString();
                decimal? value = VsaArray[i] == 0 ? (decimal?)null : VsaArray[i];
                <div class="form-group" id="@divId">
                    <label class="control-label">@SharedLocalizer["FormulaVsa"]</label>
                    <input id="@inputId" class="form-control" name="Vsa[@i.ToString()]" value="@value" />
                    <input type="button" class="form-control" value="@SharedLocalizer["Remove"]" onclick="RemoveVsa(@i)">
                </div>
            }
            @if (ViewBag.Gtg != null)
            {
                <div class="form-group">
                    <label class="control-label">@SharedLocalizer["FormulaGtg"]</label>
                    <input class="form-control" readonly="readonly" value="@ViewBag.Gtg" />
                </div>
            }
            @if (ViewBag.GdgNOX != null)
            {
                <div class="form-group">
                    <label class="control-label">@SharedLocalizer["FormulaGdgNOX"]</label>
                    <input class="form-control" readonly="readonly" value="@ViewBag.GdgNOX" />
                </div>
            }
            @if (ViewBag.GdgCO != null)
            {
                <div class="form-group">
                    <label class="control-label">@SharedLocalizer["FormulaGdgCO"]</label>
                    <input class="form-control" readonly="readonly" value="@ViewBag.GdgCO" />
                </div>
            }
            @if (ViewBag.Gdg != null)
            {
                <div class="form-group">
                    <label class="control-label">@SharedLocalizer["FormulaGdg"]</label>
                    <input class="form-control" readonly="readonly" value="@ViewBag.Gdg" />
                </div>
            }
            @if (ViewBag.Gsa != null)
            {
                <div class="form-group">
                    <label class="control-label">@SharedLocalizer["FormulaGsa"]</label>
                    <input class="form-control" readonly="readonly" value="@ViewBag.Gsa" />
                </div>
            }
            <div class="form-group">
                <input type="submit" value="@SharedLocalizer["Calculate"]" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<script>
    $(document).ready(function () {
        Inputmask({
            "mask": "9[9][9][9][9][9][9][9][9]@CultureInfo.CurrentCulture.NumberFormat.NumberDecimalSeparator" + "99999",
            clearMaskOnLostFocus: false,
            "placeholder": "0"
        }).mask(document.getElementById("MiTg"));
    });
    $(document).ready(function () {
        Inputmask({
            "mask": "9[9][9][9][9][9][9][9][9]@CultureInfo.CurrentCulture.NumberFormat.NumberDecimalSeparator" + "99999",
            clearMaskOnLostFocus: false,
            "placeholder": "0"
        }).mask(document.getElementById("CiDg"));
    });
    $(document).ready(function () {
        Inputmask({
            "mask": "9[9][9][9][9][9][9][9][9]@CultureInfo.CurrentCulture.NumberFormat.NumberDecimalSeparator" + "99999",
            clearMaskOnLostFocus: false,
            "placeholder": "0"
        }).mask(document.getElementById("CsSa"));
    });
</script>

<script>
    @{
        decimal[] VtgArray2 = ViewBag.Vtg;
        int countVtg2 = VtgArray2.Count();
    }
    var countVtg = @countVtg2;

    for (i = 0; i < countVtg; i++) {
        Inputmask({
            "mask": "9[9][9][9][9][9][9][9][9]@CultureInfo.CurrentCulture.NumberFormat.NumberDecimalSeparator" + "99999",
            clearMaskOnLostFocus: false,
            "placeholder": "0"
        }).mask(document.getElementById("Vtg" + i.toString()));
    }

    function AddVtg() {
        var newVtg = '<div class="form-group" id="VtgDiv' + countVtg.toString() + '">' +
            '<label class="control-label">@SharedLocalizer["FormulaVtg"]</label>' +
            '<input id="Vtg' + countVtg.toString() + '" class="form-control" name="Vtg[' + countVtg.toString() + ']" />' +
            '<input type="button" class="form-control" value="@SharedLocalizer["Remove"]" onclick="RemoveVtg(' + countVtg.toString() + ')">' +
            '</div>';
        $("#VtgDiv" + (countVtg - 1).toString()).after(newVtg);
        Inputmask({
            "mask": "9[9][9][9][9][9][9][9][9]@CultureInfo.CurrentCulture.NumberFormat.NumberDecimalSeparator" + "99999",
            clearMaskOnLostFocus: false,
            "placeholder": "0"
        }).mask(document.getElementById("Vtg" + countVtg.toString()));
        countVtg += 1;
        $('#VtgCount').val(countVtg);
    }

    function RemoveVtg(i) {
        $('#Vtg' + i.toString()).val(0);
        $('#VtgDiv' + i.toString()).hide();
    }
</script>

<script>
    @{
        decimal[] VgdgArray2 = ViewBag.Vgdg;
        int countVgdg2 = VgdgArray2.Count();
    }
    var countVgdg = @countVgdg2;

    for (i = 0; i < countVgdg; i++) {
        Inputmask({
            "mask": "9[9][9][9][9][9][9][9][9]@CultureInfo.CurrentCulture.NumberFormat.NumberDecimalSeparator" + "99999",
            clearMaskOnLostFocus: false,
            "placeholder": "0"
        }).mask(document.getElementById("Vgdg" + i.toString()));
    }

    function AddVgdg() {
        var newVgdg = '<div class="form-group" id="VgdgDiv' + countVgdg.toString() + '">' +
            '<label class="control-label">@SharedLocalizer["FormulaVgdg"]</label>' +
            '<input id="Vgdg' + countVgdg.toString() + '" class="form-control" name="Vgdg[' + countVgdg.toString() + ']" />' +
            '<input type="button" class="form-control" value="@SharedLocalizer["Remove"]" onclick="RemoveVgdg(' + countVgdg.toString() + ')">' +
            '</div>';
        $("#VgdgDiv" + (countVgdg - 1).toString()).after(newVgdg);
        Inputmask({
            "mask": "9[9][9][9][9][9][9][9][9]@CultureInfo.CurrentCulture.NumberFormat.NumberDecimalSeparator" + "99999",
            clearMaskOnLostFocus: false,
            "placeholder": "0"
        }).mask(document.getElementById("Vgdg" + countVgdg.toString()));
        countVgdg += 1;
        $('#VgdgCount').val(countVgdg);
    }

    function RemoveVgdg(i) {
        $('#Vgdg' + i.toString()).val(0);
        $('#VgdgDiv' + i.toString()).hide();
    }
</script>

<script>
    @{
        decimal[] VsaArray2 = ViewBag.Vsa;
        int countVsa2 = VsaArray2.Count();
    }
    var countVsa = @countVsa2;

    for (i = 0; i < countVsa; i++) {
        Inputmask({
            "mask": "9[9][9][9][9][9][9][9][9]@CultureInfo.CurrentCulture.NumberFormat.NumberDecimalSeparator" + "99999",
            clearMaskOnLostFocus: false,
            "placeholder": "0"
        }).mask(document.getElementById("Vsa" + i.toString()));
    }

    function AddVsa() {
        var newVsa = '<div class="form-group" id="VsaDiv' + countVsa.toString() + '">' +
            '<label class="control-label">@SharedLocalizer["FormulaVsa"]</label>' +
            '<input id="Vsa' + countVsa.toString() + '" class="form-control" name="Vsa[' + countVsa.toString() + ']" />' +
            '<input type="button" class="form-control" value="@SharedLocalizer["Remove"]" onclick="RemoveVsa(' + countVsa.toString() + ')">' +
            '</div>';
        $("#VsaDiv" + (countVsa - 1).toString()).after(newVsa);
        Inputmask({
            "mask": "9[9][9][9][9][9][9][9][9]@CultureInfo.CurrentCulture.NumberFormat.NumberDecimalSeparator" + "99999",
            clearMaskOnLostFocus: false,
            "placeholder": "0"
        }).mask(document.getElementById("Vsa" + countVsa.toString()));
        countVsa += 1;
        $('#VsaCount').val(countVsa);
    }

    function RemoveVsa(i) {
        $('#Vsa' + i.toString()).val(0);
        $('#VsaDiv' + i.toString()).hide();
    }
</script>