@using Clever.Controllers
@using Microsoft.Extensions.Localization
@using System.Globalization;
@inject IStringLocalizer<SharedResources> SharedLocalizer
@{
    ViewData["Title"] = SharedLocalizer["FormulaMNO2Y"];
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/jquery-inputmask/inputmask/inputmask.js"></script>
<h2>@SharedLocalizer["FormulaMNO2Y"]</h2>

<div class="row">
    <div class="col-md-4">
        <form asp-action="FormulaMNO2Y">
            <div class="form-group">
                <label class="control-label">@SharedLocalizer["FormulaMNOxY"]</label>
                <input id="MNOxY" class="form-control" name="MNOxY" value="@ViewBag.MNOxY" />
            </div>
            @if (ViewBag.MNO2Y != null)
            {
                <div class="form-group">
                    <label class="control-label">@SharedLocalizer["FormulaMNO2Y"]</label>
                    <input class="form-control" readonly="readonly" value="@ViewBag.MNO2Y" />
                </div>
            }
            <div class="form-group">
                <input type="submit" value="@SharedLocalizer["Calculate"]" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<script>
    $(document).ready(function () {
        Inputmask({
            "mask": "9[9][9][9][9][9][9][9][9]@CultureInfo.CurrentCulture.NumberFormat.NumberDecimalSeparator" + "99",
            clearMaskOnLostFocus: false,
            "placeholder": "0"
        }).mask(document.getElementById("MNOxY"));
    });
</script>